.burger {
    position: absolute;
    width: 80%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 1s;
    z-index: 2;
}

.burger__title {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px 0;
    height: 80px;
    font-size: 30px;
    font-family: 'Delicious Handrawn', cursive;
}

.close {
    display: none;
}

.burger__list {
    margin: 20px;
}

.list__item {
    margin-bottom: 10px;
    font-size: 25px;
}

.list__item:last-child {
    margin-bottom: 0px;
}

.list__item a {
    color: #fff
}